@tailwind base;
@tailwind components;
@tailwind utilities;

.light {
	--header: 21 32 53;
	--primary: 245 245 245;
	--secondary: 242 242 242;
	--accent: 63 128 177;
	--yellow: 184 153 106;
	--content: 25 25 25;
	--search: 25 25 25;
	--alert: 220 38 38;
	--disable: 127 127 127;
	--info: 67 120 208;
	--hazard: 241 90 34;
	--cancel: 127 127 127;
	--warning: 177 130 47;
	--delete: 249 105 14;
	/* lighter purple */
	--purple: 213 184 255;
	--line: 255 255 255;
}
.dark {
	--header: 255 255 255;
	--primary: 26 26 26;
	--secondary: 0 0 0;
	--accent: 254 241 96;
	--yellow: 184 153 106;
	--content: 255 255 255;
	--search: 255 255 255;
	--alert: 220 38 38;
	--disable: 127 127 127;
	--info: 67 120 208;
	--hazard: 241 90 34;
	--cancel: 127 127 127;
	--warning: 177 130 47;
	--delete: 249 105 14;
	/* darker purple */
	--purple: 102 51 153;
	--line: 255 255 255;
}

/* @media (prefers-color-scheme: dark) {
	:root {
	}
} */
@layer base {
	* {
		@apply overflow-x-hidden transition-all duration-100;
	}
	body {
		@apply text-content bg-content font-Fira overflow-hidden;
	}
	.container {
		@apply max-w-[1440px] p-2 md:p-4 w-full mx-auto md:px-[1rem] px-5
    /*
    xs: 480px,
    sm: 960px,
    md: 1280px,
    lg: 1920px,
    xl: 3840px */;
	}

	a {
		@apply no-underline;
	}

	ul {
		@apply list-none text-content;
	}

	img {
		@apply block bg-cover;
	}
	/* Headers */
	h1,
	h2,
	h3,
	h4,
	h5,
	h6 {
		@apply font-DelaGothicOne text-content;
		/* font-playfairB  */
	}

	/* Tables */
	table {
		@apply w-full text-base font-Fira border-2 border-info dark:border-accent
    /* font-playfairR */;
	}

	table thead tr th {
		@apply p-3 border-x border-t border-content/10 font-Fira text-center
    /* font-playfairB */;
	}

	table tbody tr td {
		@apply p-3 border-b border-x border-content/10 text-center;
	}

	table tbody tr:nth-child(odd) {
		@apply bg-info/50 dark:bg-accent/50;
	}

	table tbody tr {
		@apply w-auto;
	}

	.td-post {
		@apply text-balance text-center;
	}

	main {
		@apply transition-all duration-500;
	}

	#progressTop {
		@apply fixed xl:bottom-[35px] bottom-[15px] lg:bottom-[25px] xl:right-[35px] md:right-[25px] right-[10px] h-[40px] lg:h-[70px] lg:w-[70px] w-[40px] opacity-0 grid place-items-center rounded-full z-[100] cursor-pointer shadow-md;
	}

	#progressTop-value {
		@apply block h-[calc(100%-15px)] w-[calc(100%-15px)] bg-primary rounded-full grid place-items-center text-[35px];
	}
}
@layer components {
}
@layer utilities {
	.thisButton {
		@apply border-2 border-solid border-black mx-2 px-5 bg-info rounded-md py-2;
	}
	.magic-btn {
		@apply focus:ring-2 focus:ring-slate-400 focus:ring-offset-2 focus:ring-offset-slate-50;
	}
	input::-webkit-outer-spin-button,
	input::-webkit-inner-spin-button {
		-webkit-appearance: none;
		margin: 0;
	}

	::-webkit-scrollbar {
		@apply md:w-[5px];
	}

	::-webkit-scrollbar-track {
		box-shadow: inset 0 0 5px rgb(16, 16, 16);
		border-radius: 10px;
	}

	::-webkit-scrollbar-thumb {
		background: rgba(54, 54, 54, 0.864);
		border-radius: 10px;
	}

	::-webkit-scrollbar-thumb:hover {
		background: rgb(5, 103, 201);
	}
}
